---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Notion CMS">
  <h1>Welcome to <span class="text-gradient">Notion CMS</span></h1>
  <main class="container">
    <a href="/notion-cms">Notion CMS</a>
    <a href="/scrape">Scrape</a>
  </main>
  <style>
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      color: white;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    main.container {
      width: 100%;
      display: flex;
      place-content: space-evenly;
      place-items: center;
    }
  </style>
</Layout>
